body{
	background-position-x: left;
	background-position-y: top;
	background-size: 70%;
	overflow: hidden;
}
#Canvas{
	background-position-x: left;
	background-position-y: top;
}
#instruction{
	color: white;
}
#instruction2, #score2, #score-text2{
	color: black;
}
#score, #score-text{
	color: white;
}